.card {
    width: 90%;
    margin: 2em auto;
    padding: 1.5em;
}

.card__titulo {
    font-weight: 500;
    font-size: 24px;
    color: var(--cor-branca);
    margin-bottom: 1em;
}

.card__list {
    display: flex;
}

.card__item a img {
    width: 140px;
    height: 220px;
    margin-right: 2em;
}

.card__item a img:hover {
    width: 160px;
    height: 240px;
}